@import 'tailwindcss';
@import '$lib/components/basic_gui/dropdown/dropdown.css';

@theme {
    --color-mint-500: oklch(0.72 0.11 178);

    --color-oldap-bg: var(--color-indigo-300);
    --color-oldap-bg-dark: var(--color-indigo-950);
    --color-oldap-bg2: var(--color-indigo-100);
    --color-oldap-bg2-dark: oklch(0.05 0.06 0.25);
    --color-oldap-fg: var(--color-black);
    --color-oldap-fg-dark: var(--color-white);
    --color-oldap-hover: var(--color-indigo-200);
    --color-oldap-hover-dark: var(--color-indigo-700);
    --color-oldap-focus: var(--color-purple-800);
    --color-oldap-focus-dark: var(--color-purple-300);

    --color-oldap-button: var(--color-indigo-400);
    --color-oldap-button-dark: var(--color-indigo-700);
    --color-oldap-button-hover: var(--color-indigo-300);
    --color-oldap-button-hover-dark: var(--color-indigo-700);
    --color-oldap-button-: var(--color-indigo-900);
    --color-oldap-button-outline-dark: var(--color-indigo-900);

    --color-oldap-error-bg: var(--color-red-600);
    --color-oldap-error-fg: var(--color-yellow-300);
    --color-oldap-error-border: var(--color-orange-500);

    /* Toggle colors */
    --color-toggle-state-on: var(--color-green-400);
    --color-toggle-state-on-dark: var(--color-green-700);
    --color-toggle-state-off: var(--color-red-400);
    --color-toggle-state-off-dark: var(--color-red-700);
    --color-toggle-lever: var(--color-indigo-300);
    --color-toggle-lever-dark: var(--color-indigo-800);
    --color-toggle-lever-border: var(--color-indigo-500);
    --color-toggle-lever-border-dark: var(--color-indigo-500);


    /* for input fields like "Textfield"... */
    --color-input-label-fg: var(--color-gray-900);
    --color-input-label-fg-dark: var(--color-gray-50);
    --color-input-text-valid: var(--color-black);
    --color-input-text-valid-dark: var(--color-black);
    --color-input-text-invalid: var(--color-red-800);
    --color-input-outline-valid: var(--color-indigo-500);
    --color-input-outline-invalid: var(--color-orange-500);
    --color-input-placeholder-valid: var(--color-gray-500);
    --color-input-placeholder-invalid: var(--color-red-300);

    /* Table colors */
    --color-table-header-bg: var(--color-gray-200);
    --color-table-header-bg-dark: var(--color-gray-800);
    --color-table-header-fg: var(--color-gray-900);
    --color-table-header-fg-dark: var(--color-gray-400);
    --color-table-body-bg: var(--color-gray-50);
    --color-table-body-bg-dark: var(--color-gray-900);
    --color-table-body-fg: var(--color-gray-900);
    --color-table-body-fg-dark: var(--color-gray-100);

    --spacing-oldap-header-height: 56px;
    --spacing-oldap-footer-height: 32px;

    /* maximal height of dropdown menu */
    --spacing-oldap-menu-sm: calc(var(--spacing) * 16);
    --spacing-oldap-menu-base: calc(var(--spacing) * 32);
    --spacing-oldap-menu-lg: calc(var(--spacing) * 64);

}

.oldap-button {
    @apply inline-flex w-full justify-center gap-x-1 rounded-sm
    bg-oldap-button dark:bg-oldap-button-dark px-2 py-1
    text-oldap-fg dark:text-oldap-fg-dark shadow-xs
    hover:bg-oldap-button-hover dark:hover:bg-oldap-button-hover-dark
    focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-950;
}

.oldap-button-round {
    @apply rounded-full bg-oldap-button dark:bg-oldap-button-dark p-1.5  text-xs text-white shadow-xs w-7 h-7
    hover:bg-oldap-button-hover dark:bg-oldap-button-hover-dark focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600
}

.oldap-body {
    @apply absolute top-0 bottom-0 left-0 right-0 overflow-hidden
}

.oldap-header {
    @apply absolute left-0 top-0 right-0 h-oldap-header-height bg-oldap-bg dark:bg-oldap-bg-dark text-oldap-fg dark:text-oldap-fg-dark;
}

.oldap-header-left {
    @apply absolute left-0 top-0 right-0 flex flex-row h-full gap-x-4 items-center p-3
}

.oldap-header-right {
    @apply absolute right-0 top-0 right-0 flex flex-row-reverse h-full gap-x-4 items-center p-3
}

.oldap-content-area {
    @apply absolute left-0 top-oldap-header-height right-0 bottom-oldap-footer-height
    bg-oldap-bg2 dark:bg-oldap-bg2-dark text-oldap-fg dark:text-oldap-fg-dark;
}

.oldap-footer {
    @apply absolute left-0 bottom-0 right-0 h-oldap-footer-height flex flex-row items-center p-3
    bg-oldap-bg dark:bg-oldap-bg-dark text-xs text-oldap-fg dark:text-oldap-fg-dark;
}

